@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Marcellus&display=swap');

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Lora', serif;
    color: #000000;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(249, 255, 249, 0.473958) 52.6%, rgba(248, 244, 244, 0.63) 100%);
}

.wrapper {
position: relative;
width: 1440px;
height: 3485px;
margin: auto;
}

.title {
    position: absolute;
width: 1026px;
height: 120px;
left: 207px;
top: 24px;

font-family: Marcellus;
font-style: normal;
font-weight: normal;
font-size: 96px;
line-height: 120px;
text-transform: uppercase;
color: #000000;
}

.text {
position: absolute;
width: 644px;
height: 23px;
left: 412px;
top: 184px;

font-family: Lora;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
/* identical to box height */
text-transform: uppercase;
color: #000000;

}



.cover-photo {
position: absolute;
width: 1026px;
height: 686px;
left: 207px;
top: 243px;
box-shadow: 8px 12px 37px rgba(0, 0, 0, 0.25);
}

.cover-photo img {
    width: 1026px;
height: 686px;
}

.little-header {
    position: absolute;
width: 1167px;
height: 79px;
left: 136px;
top: 997px;
}

.nd-title {
position: absolute;
width: 485px;
height: 61px;
left: 342px;
top: 0px;
font-family: Lora;
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 61px;
text-transform: capitalize;
}

.line {
    position: absolute;
    width: 1167px;
    height: 0px;
    left: 0px;
    top: 106px;
    border: 1px solid #000000;
}

.content {
position: absolute;
width: 1168px;
height: 2197px;
left: 136px;
top: 1157px;
/* display: grid;
align-items: center; */
}

h4 {
font-weight: 500;
font-size: 48px;
line-height: 61px;
text-transform: capitalize;
}

.block-1 {
position: absolute;
width: 1106px;
height: 321px;
left: 62px;
top: 0px;
}

.block-text-1 {
    position: absolute;
    width: 453px;
    height: 245px;
    left: 0px;
    top: 0px;
}

.header-1 {

    position: absolute;
    width: 346px;
    height: 61px;
    left: 107px;
    top: 0px;
    margin-top: 10px;
    margin-bottom: 50px;
    
    font-family: Lora;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 61px;
    text-transform: capitalize;

}

.content-text-1 {
    position: absolute;
    width: 453px;
    height: 115px;
    left: 0px;
    top: 110px;
    
    font-family: Lora;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    text-align: right;
}

.content-1 {
    position: absolute;
width: 570px;
height: 321px;
left: 536px;
top: 0px;
}

.block-2 {
position: absolute;
width: 1109px;
height: 321px;
left: 0px;
top: 420px;
}

.block-text-2 {
position: absolute;
width: 453px;
height: 225px;
left: 656px;
top: 0px;
}

.header-2 {
    position: absolute;
    width: 418px;
    height: 61px;
    left: 0px;
    top: 0px;
    margin-top: 10px;
    margin-bottom: 60px;
    
    font-family: Lora;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 61px;
    text-transform: capitalize;
    }

    .content-text-2 {
        position: absolute;
width: 453px;
height: 92px;
left: 0px;
top: 110px;
font-family: Lora;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 23px;
    }

.content-2 {
position: absolute;
width: 570px;
height: 321px;
left: 0px;
top: 0px;
}

.block-3 {
    position: absolute;
    width: 908px;
    height: 419px;
    left: 62px;
    top: 840px;
    
}

.block-text-3 {
    position: absolute;
    width: 453px;
    height: 275px;
    left: 0px;
    top: 97px;
}

.header-3 {
    position: absolute;
    width: 440px;
    height: 61px;
    left: 13px;
    top: 0px;
    margin: auto;

    
    font-family: Lora;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 61px;
    text-transform: capitalize;
}

.content-text-3 {
    position: absolute;
    width: 453px;
    height: 115px;
    left: 0px;
    top: 110px;
    margin: auto;
    
    font-family: Lora;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    text-align: right;
    
}

.content-3 {
    position: absolute;
width: 314px;
height: 419px;
left: 594px;
top: 0px;
}

.block-4 {
    position: absolute;
width: 929px;
height: 419px;
left: 180px;
top: 1358px;
    
}

.block-text-4 {
    position: absolute;
width: 453px;
height: 225px;
left: 476px;
top: 97px;
}

.header-4 {
    position: absolute;
    width: 203px;
    height: 61px;
    left: 0px;
    top: 0px;
    margin: auto;
    
    font-family: Lora;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 61px;
    text-transform: capitalize;
}

.content-text-4 {
    position: absolute;
    width: 453px;
    height: 115px;
    left: 0px;
    top: 110px;
    margin: auto;
    
    font-family: Lora;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    
}

.content-4 {

    position: absolute;
    width: 335px;
    height: 419px;
    left: 0px;
    top: 0px;
}

.block-5 {
    position: absolute;
    width: 1106px;
    height: 321px;
    left: 62px;
    top: 1876px;
    
}

.block-text-5 {
    position: absolute;
    width: 453px;
    height: 243px;
    left: 0px;
    top: 0px;
}

.header-5 {
    position: absolute;
    width: 330px;
    height: 61px;
    left: 123px;
    top: 0px;
    margin: auto;
    
    font-family: Lora;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 61px;
    text-transform: capitalize;
}

.content-text-5 {
    position: absolute;
    width: 453px;
    height: 138px;
    left: 0px;
    top: 110px;
    margin: auto;
    
    font-family: Lora;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    text-align: right;
    
}

.content-5 {

    position: absolute;
    width: 570px;
    height: 321px;
    left: 536px;
    top: 0px;
    
}